<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <button id="routeA">A</button>
    <button id="routeB">B</button>
    <button id="routeC">C</button>
    <div id="content"></div>
  </body>
</html>
